*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(3, 2, 0);
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center !important;
    justify-content: center !important;
    animation: fadeIn 0.5s ease-in-out forwards;

}

@keyframes fadeIn{
    from{       
        opacity: 0; }
    to {
        opacity: 1;
    }
}

/* navigation bar */
.nav-bar{
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    backdrop-filter: blur(2px);
}

.nav-bar .logo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.logo:hover{
    border: 3px solid white;
    padding: 0.2rem;
    transition: 0.2s ease;
}


.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 10px;
}


.nav-bar ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    padding: 10px;
    border-radius: 2rem;
    border: 3px solid white;
}
.nav-bar ul li a:hover{
    background-color: goldenrod;
    transition: background-color 0.5s ease-in-out;
}

.hero{
    margin-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background: url(images/hero2.png);
    background-position: center;
    width: 50em;
    height: 28em;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-right: 4rem;
    margin-left: 4rem;
    display: flex;
}

.hero:hover{
    border: 3px solid white;
    transition: 0.7s ease;
}

.hello-area{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    margin: 4rem;
    padding: 4rem;
    border-radius: 2em;
    background-color: black;
    margin-top: 12em;
    /* box-shadow: inset 1px 2px 8px white; */


    backdrop-filter: blur(2px);
    animation: fadeIn 2.5s ease-in-out forwards;
    transform: translateY(30px);
    animation: pageload 0.7s ease-in-out forwards;
    font-style: oblique;
    gap: 2rem;

}

.hello-area h1{
    font-size: 6em;
    font-family: fantasy;
    letter-spacing: 0.4rem;
}
#rahul-here{
    text-decoration: underline;
    color: rgb(255, 153, 1);
    font-family: fantasy;
    letter-spacing: 0.4rem;
}

.hello-area p{
    font-weight: bold;
    color: goldenrod;
}

@keyframes pageload{
    to { opacity: 1;
    transform: translateY(0);
}
}

@keyframes fadeIn{
    from{       
        opacity: 0; }
    to {
        opacity: 1;
    }
}

.personal-details-area{
    margin: 1em;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    font-size: 1rem;
    /* border: 3px solid goldenrod; */
    background: black;
    border-radius: 2rem;
    width: 50em;
    margin: 4rem;
   
}

#personal-image{
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid white;
}

#personal-image:hover{
    padding: 0.4rem;
    transition: 0.5s ease;
}
.personal-details{
    background-color: transparent;
    border-radius: 2rem;
    padding: 2rem;
    font-weight: 400;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: inset 1px 2px 8px white;
}
#p1{
    font-weight: bold;
    text-decoration: underline;
}
.personal-details a {
    text-decoration: none;
    color: red;
    font-weight: bolder;
}

.about{
    background-color: black;
    width:fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
}




/* MOBILE VIEW */

@media screen and (min-width:300px) and (max-width:600px) {

    .nav-bar{
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.103);
    }

    .nav-bar .logo{
        height: 50px;
        width: 50px;
    }

    .nav-bar ul{
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    .nav-bar ul li a{
        font-size: 8px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        background-color: transparent;
        padding: 0.5rem;
        border-radius: 2rem;
        border: 3px solid white;
    }

    .hello-area{
        width: 20em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: transparent;
        margin: 4rem;
        padding: 1.5rem;
        border-radius: 2em;
        background-color: rgba(255, 255, 255, 0.058);
        border: 3px solid white;
        margin-top: 8em;
        /* box-shadow: inset 1px 2px 8px white; */
    
    
        backdrop-filter: blur(2px);
        animation: fadeIn 2.5s ease-in-out forwards;
        transform: translateY(30px);
        animation: pageload 0.7s ease-in-out forwards;
        font-style: normal;
        gap: 2rem;
    
    }

    #scroll{
        background-color: red;
        color: white;
        border-radius: 1rem;
        font-size: 12px;
        padding: 1rem;
        width: fit-content;
    }

    .hello-area h1{
        font-size: 5em;
        font-family: fantasy;
        letter-spacing: 0.2rem;
    }
    #rahul-here{
        text-decoration: underline;
        color: rgb(255, 153, 1);
        font-family: fantasy;
        letter-spacing: 0.2rem;
    }

    .hero{
        margin-top: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        background: url(images/hero2.png);
        background-position: center;
        width: 20em;
        height: 40em;
        background-repeat: no-repeat;
        border-radius: 20px;
        margin-right: 4rem;
        margin-left: 4rem;
        display: flex;
    }

    .personal-details-area{
        margin: 1em;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        font-size: 1rem;
        /* border: 3px solid goldenrod; */
       background-color: transparent;
        border-radius: 2rem;
        width: 20em;
        margin: 4rem;
       
    }

    body{
        background-color: rgb(7, 6, 6);
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center !important;
        justify-content: center !important;
        animation: fadeIn 0.5s ease-in-out forwards;
    
    }
    
}